<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<appSettings>
   <add key="urlName" value="https://relianceinfo.api.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="username" value="bantale@relianceinfosystems.com"/>
    <add key="password" value="Password@123"/>
</appSettings>
</configuration>